.showing {
  display: inline-block;
  min-height: 10px;
  background-color: #aaaaaa;
  z-index: 1;
  position: absolute;
  top: 20%;
  left: 25%;
  padding: 3px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
